
/* Look at https://tailwindcss.com/ to style the website*/

/*------------------------------- */
/*---- Scroll Down Animation ---- */
/*------------------------------- */
#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#container_diverso{
  width: 100%;
  height: 100%;
  position: relative;
}
#navi {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}
#toolbox{
  width: 100%;
  height:100%;
  padding-top: 78%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}
