
/* Look at https://tailwindcss.com/ to style the website*/

/*------------------------------- */
/*---- Scroll Down Animation ---- */
/*------------------------------- */
#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#diverso, #container_2{
  width: 100%;
  height: 100%;
  position: relative;
}
#navi, #ellisse_ferma {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}

#toolbox{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
}

#intro2{
  width: 100%;
  height: 100vh;
  padding-top: 0%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  color: white;
}

.slides {
  position: relative;
  transform:translate(-50%, -50%);
  top:50%;
  left:50%;
  text-align: center;
}

.centred {
  position: relative;
  transform:translate(-50%, -50%);
  left:50%;
  text-align: center;
}

#quadrato {
  height: 50vh;
  width: calc(50vh);
  position:relative;
  background-color: #ffffff;
  transform:translate(-50%,-50%) rotate(60deg);
  top:50%;
  left:50%;
  z-index:0;
  margin:0;
}

#back {
  border:none;
  transform:scale(0.5);
  position: fixed;
  top:0%;
  left:0%;
  margin:2vh;
  z-index: 100;
}

button:focus { outline: none; }
